# Application
NODE_ENV=development
PORT=5002

# API Endpoint
API_ENDPOINT=http://localhost:5001
API_SERVER_ENDPOINT=http://localhost:5001

# Site URLs
SITE_URL=http://localhost:5002

# File Upload Limits (in KB)
MAX_SIZE_IMAGE=10240
MAX_SIZE_FILE=51200
MAX_SIZE_VIDEO=102400

# Socket
NEXT_PUBLIC_SOCKET_ENDPOINT=http://localhost:5001
